body {
    background-color: lightgray;
}

.container {
    display: flex; 
    justify-content: center;
}

h1 {
    font-weight: bold;
    margin: auto;
    padding: 20px;
}

.container-form {
    display: flex; 
    flex-direction: column; 
    width: 300px;
}

.label-contact {
    font-weight: bold; 
    font-size: 15px;
}

.input-message {
    padding: 30px; 
    border-radius: 10px; 
    background-color: white; 
    border-color: #d9d9d9;
    margin-bottom: 20px;
    resize: none;
}

.input-contact {
    padding: 5px; 
    border-radius: 10px; 
    background-color: white; 
    border-color: #d9d9d9;
    margin-bottom: 20px;
}

.submit-contact {
    margin-left: 200px;
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}

.btn-contact {
    background-color: black;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
}